*{
    color:purple;
    background-color: FDFD96;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    box-sizing: border-box;
    margin: 0px;
}

.Ingredients{
    border: 3px dotted purple;
    margin: 40px auto;
    width: fit-content;
    padding-right: 20px;
    padding-bottom: 20px;
    }

.theflex{
    display:flex;
    justify-content: space-evenly;
}

.Ingredients,
.Ingredients *{
    background-color: #f1ecc6;
}

ul li{
    list-style-type: square;
    text-align: start;
}

ol li{
    list-style-type:decimal;
}

ul,
ol{
    margin: 0px;
}

.description-area{
    display: flex;
    flex: 1;
}

img{
    display: inline;
    width: 300px;
}

.footer{
    display: flex;
    background-color: aliceblue;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    padding: auto;
    flex: 1;

}

.footer a,
.footer .footer-main-page{
    background-color: aliceblue;
}

.left-pad,
.right-pad{
    background-color: purple;
    padding: 10px 100px;
}

.header{
    display: flex;
    align-items: stretch;
    background-color: aliceblue;
    justify-content: space-between;
}

.header h1{
    background-color: aliceblue;
    padding: auto;
}

