*{
    color:purple;
    background-color: FDFD96;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.Ingredients{
    border: 3px dotted purple;
    margin: auto;
    width: fit-content;
    }

.Ingredients.Coxinha{
    display:flex;

    
}

.Ingredients,
.Ingredients *{
    background-color: #f1ecc6;
}

ul,
ol,
li{
    list-style-type: circle;
    text-align: start;
    text
}